@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Outfit", sans-serif; 
}


body {
  background-color: #000;  
  color: #fff;
}


h1, h4, p, a {
  color: #fff; 
  text-decoration: none; 
}


ul {
  list-style-type: none;
}


.btn {
  padding: 12px 32px;
  font-size: 1rem;
  text-transform: uppercase;
  background-color: rgb(248, 217, 15); 
  color: #223; 
  border: 1px solid #fff;
  font-weight: 600; 
  cursor: pointer; 
  transition: background-color 0.3s, color 0.3s;
}

.btn-light {
  background: transparent;
  color: #fff; 
  border: 1px solid #fff; 
}

.btn:hover {
  background-color: rgba(255, 255, 255, 0.2); 
  color: #fff; 
}